<!-- <p>Tarefas</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Título</th>
    <th scope="col">Descrição</th>
    <th scope="col">Categoria</th>
    <th scope="col">Data</th>
    <th scope="col">Concluída</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tarefas of tarefa; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + tarefas.flag" class="me-2" style="width: 20px">
      {{ tarefas.descricao }}
    </td>
    <td>{{ tarefas.titulo }}</td>
    <td>{{ tarefas.descricao }}</td>
    <td>{{ tarefas.categoria }}</td>
    <td>{{ tarefas.data }}</td>
    <td>{{ tarefas.concluida }}</td>
  </tr>
  </tbody>
</table> -->
